.modal {
  position: fixed;
  inset: 0;
  z-index: 7;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 32px;

  @media screen and (max-width: 768px) {
    display: flex;
  }

  //   background-position: center center / cover !important;
  //   background-repeat: no-repeat !important;
  //   background-size: 100% !important;

  &__text {
    h2 {
      font-size: var(--lg-font);
      padding-bottom: 15px;
    }

    p {
      padding-bottom: 15px;
      font-size: max(15px, min(2vw, 20px));
      color: var(--secondary-text-color);
    }
  }

  > button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 50px;
    border-radius: 7px;
    font-size: max(15px, min(2vw, 20px));
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
