.container {
  position: fixed;
  inset: 0;
  //   width: 100vw;
  //   height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.2);
  backdrop-filter: blur(2px);

  //   @media (prefers-color-scheme: dark) {
  //     background-color: rgba($color: invert(#000000), $alpha: 0.05);
  //     backdrop-filter: blur(2px);
  //     -webkit-backdrop-filter: blur(2px);
  //   }

  //   @media screen and (max-width: 480px) {
  //     background-color: var(--bg-color);
  //   }
}

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #34bb8b);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 3.8px),
    #000 0
  );
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
