.card {
  width: min(300px, 80%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: var(--side-padding);
  border-radius: 10px;

  // border: 1px solid #ccfbe5;
  border: 1px solid var(--primary-color);
  backdrop-filter: blur(50px);
  background-color: rgba(52, 187, 139, 0.1);

  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 10px;

    svg {
      font-size: var(--md-font);
      box-sizing: content-box;
      color: #ccfbe5;
      background-color: rgba(52, 187, 139, 0.5);
      padding: 10px;
      border-radius: 50%;
    }

    h3 {
      font-size: var(--base-font);
      padding-bottom: 10px;
      color: var(--gray-1000);
    }
  }

  &__info {
    font-size: var(--sm-font);
    // color: var(--gray-400);
    color: var(--gray-800);
  }
}
