.bg {
  background-color: red;
  height: 100%;

  @media screen and (max-width: 500px) {
    min-height: calc(100vh - 40px - var(--xl-font));
    // margin-top: calc(40px + var(--xl-font)) !important;
  }
}
