.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toggle {
    display: none;

    @media screen and (max-width: 500px) {
      display: block;
    }

    > button {
      display: flex;
      background-color: transparent;
      border: none;
      cursor: pointer;
      align-items: center;

      svg {
        font-size: var(--md-font);
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 15px;

    > button {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      align-items: center;

      @media screen and (max-width: 820px) {
        display: flex;
      }

      @media screen and (max-width: 500px) {
        display: none;
      }

      svg {
        font-size: var(--md-font);
      }
    }

    // .logo {
    //   font-family: var(--tilt-prism);
    //   color: var(--primary-color);
    //   font-size: var(--md-font);
    // }
  }

  .search {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}
