.header {
  background: var(--header-bg);
  backdrop-filter: var(--header-bg-blur);
  padding: 20px var(--side-padding);
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  // left: min(270px, 30vw);
  left: 0;
  right: 0;
  z-index: 10;
}
