.bg {
  padding: max(10vh, 70px) var(--side-padding);
  // border-bottom: var(--border);
  //   background-color: red;
  // background: radial-gradient(
  //   759px at 14% 22.3%,
  //   rgb(10, 64, 88) 0%,
  //   rgb(15, 164, 102) 90%
  // );

  background-color: var(--footer-bg);
  border-bottom: 1px solid var(--gray-500);
  // border-bottom: 1px solid #ccfbe5;
}

.container {
  max-width: var(--section-max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  //   flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__text {
    color: #fff;

    h5 {
      font-size: var(--md-font);
      padding-bottom: 10px;
    }

    p {
      font-size: var(--base-font);
    }
  }

  a {
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
  }
}
