.item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 10px;
  // // border: 1px solid #ccfbe5;
  // padding: 15px;
  // border-radius: 10px;

  &__content {
    h4 {
      padding-bottom: 5px;
    }

    span {
      font-size: var(--sm-font);
      line-height: 1.5;
    }
  }

  svg {
    flex: auto;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 50%;
    // background-color: yellow;
    font-size: var(--base-font);
  }
}
