.item {
  //   display: flex;
  //   align-items: center;
  //   gap: 3px;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;

  svg {
    flex: auto;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 50%;
    // background-color: yellow;
    font-size: var(--base-font);
  }

  span {
    // flex: 1;
    font-size: var(--sm-font);
    line-height: 1.5;
  }
}
